{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

    <!-- Header Section -->
    <header style="background-color: white; color: white; padding: 1rem; text-align: center;">
        
        {% comment %} <img src= {% static '/images/MNNIT.png' %} alt="Data Collection Icon"
        style="width: 100px; height: 100px; margin-bottom: 1rem;"> {% endcomment %}
        <img src= {% static '/images/MNNIT_logo.jpeg' %} alt="Data Collection Icon"
        style="width: 150px; height: 150px;">
    </header>

    <!-- Description Section -->
    {% comment %} <section style="padding: 2rem; text-align: center;">
        <p style="font-size: 1.2rem; color: #333;">{{ description }}</p>
    </section> {% endcomment %}
    <!-- Team Section -->
    <section style="background-color: white; padding: 2rem;">
        <h2 style="text-align: center;font-family: 'Times New Roman', Times, serif;">Contacts:<br> Abhinav Tiwari (abhinavtiwari4320@gmail.com)<br>
            Atharva Kasat (iatharvakasatav@gmail.com)<br>
            Sanjay Kumar (sanjay.20215162@mnnit.ac.in)<br></h2>
        
    </section>

    <!-- Footer Section -->
    <footer style="background-color: #333; color: white; text-align: center; padding: 1rem;">
        <p>MNNIT Allahabad Campus, Teliarganj, Prayagraj, Uttar Pradesh 211004</p>
    </footer>

</body>
</html>
