
{% extends 'basic.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block body %}
<section class="formtwo">
	<div class="container">
		<div class="row">
			<div class="col-6 border-right">
				<h1 class="subheading">Set New Password</h1>
			</div>
			<div class="col-6 form">
				<form method="POST" action="{% url 'set-new-password' uidb64 token %}">
					{% csrf_token %}
					<h5 class="row">Password</h5>
					<div class="row">
						<input type="password" class="form-control" name="password" placeholder="Password" >
					</div>
					<h5 class="row">Confirm Password</h5>
					<div class="div">

						<input type="password" class="form-control" name="confpassword" placeholder="Password" >
					</div>


					<div class="row">
						<input type="submit" class="btn" value="Change">
					</div>
				</form>
			</div>
		</div>

</section>

{% endblock body %}

{% block script %}
<script>
	const inputs = document.querySelectorAll(".input");


	function addcl() {
		let parent = this.parentNode.parentNode;
		parent.classList.add("focus");
	}

	function remcl() {
		let parent = this.parentNode.parentNode;
		if (this.value == "") {
			parent.classList.remove("focus");
		}
	}


	inputs.forEach(input => {
		input.addEventListener("focus", addcl);
		input.addEventListener("blur", remcl);
	});
</script>
{% endblock script %}