asgiref>=3.5.2
Django>=4.1.1
django-crispy-forms>=1.14.0
django-filter>=22.1
django-import-export>=3.0.1
djangorestframework>=3.14.0
gunicorn>=21.2.0  # For WSGI server (necessary for deployment)
psycopg2-binary>=2.9.6  # Include if using PostgreSQL
whitenoise>=6.5.0  # For serving static files in production
pillow>=10.0.0  # If handling image uploads
requests>=2.31.0
openpyxl>=3.1.2
