{% extends 'basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <h1 style="color: white; text-align: center;;font-family: 'Pacifico', cursive">Add a report for {{patient.first_name}} {{patient.last_name}}</h1>
<section class="formtwo">
  <div class="container">
    <div class="row">
      {% comment %} <div class="col-6 border-right">
        <h1 class="subheading">Add a report for {{patient.first_name}} {{patient.last_name}} </h1>
      </div> {% endcomment %}
      <div class="col-6 form">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h5 class="row myinput"> Name</h5>
          <div class="row">
            <br>
            {{ form.name }}
          </div>
          <h5 class="row ">Modality</h5>
          <div class="row">

            {{ form.modality}}
          </div>
          <h5 class="row">Diagonised</h5>
          <div class="row">

            {{ form.diagonised }}
          </div>
          <h5 class="row myinput">Organ</h5>
          <div class="row">

            {{ form.organ }}
          </div > 
          <h5 class="row">Add image</h5>
          <div class="row">
            {{ form.img}}
          </div>
          
          <h5 class="row">Systolic blood pressure</h5>
          <div class="row">
            {{ form.systolic_blood_pressure}}
          </div>
          <h5 class="row">Diastolic blood pressure</h5>
          <div class="row">
            {{ form.diastolic_blood_pressure}}
          </div>
          <h5 class="row">Cholesterol levels</h5>
          <div class="row">
            {{ form.cholesterol_level}}
          </div>
          <h5 class="row">Diabetes (Sugar level)</h5>
          <div class="row">
            {{ form.sugar_level}}
          </div>
          <h5 class="row">Blood Oxygen Saturation</h5>
          <div class="row">
            {{ form.blood_oxygen_saturation}}
          </div>
          <h5 class="row">Heart rate</h5>
          <div class="row">
            {{ form.heart_rate}}
          </div>
          <h5 class="row">Smoking</h5>
          <div class="row">
            {{ form.smoking}}
          </div>
          <h5 class="row">Alcohol</h5>
          <div class="row">
            {{ form.alcohol}}
          </div>
          <h5 class="row">Age</h5>
          <div class="row">
            {{ form.age}}
          </div>
          <h5 class="row">Physically Inactive</h5>
          <div class="row">
            {{ form.physically_inactive}}
          </div>
          <h5 class="row">Stress</h5>
          <div class="row">
            {{ form.stress}}
          </div>
          <h5 class="row">Weight (in kg)</h5>
          <div class="row">
            {{ form.weight}}
          </div>
          <h5 class="row">Height (in cm)</h5>
          <div class="row">
            {{ form.height}}
          </div>
          <h5 class="row">Gender</h5>
          <div class="row">
            {{ form.gender}}
          </div>
          <h5 class="row">Electrolyte Level</h5>
          <div class="row">
            {{ form.electrolyte_level}}
          </div>
          <h5 class="row">Chronic Kidney</h5>
          <div class="row">
            {{ form.chronic_kidney}}
          </div>



          <div class="row">
            <button type="submit" class="titlebutton formbtn btn btn-md">Save</button>
          </div>
        </form>
      </div>
      {% comment %} <div class="col-6 form">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <h5 class="row myinput"> Enter Blood Group</h5>
          <div class="row">
            <br>
            {{ form.name }}
          </div>
          <h5 class="row ">Blood Pressure</h5>
          <div class="row">

            {{ form.name }}
          </div>
          <h5 class="row">Sugar Level</h5>
          <div class="row">

            {{ form.name }}
          </div>
          <h5 class="row myinput">Heart Beat Rate</h5>
          <div class="row">

            {{ form.organ }}
          </div > 
          <h5 class="row">SPO2 Level</h5>
          <div class="row">

            {{ form.name}}
          </div>
          
          <div class="row">
            <button type="submit" class="titlebutton formbtn btn btn-md">Save</button>
          </div>
        </form>
      </div> {% endcomment %}
    </div>
  </div>
</section>

{% endblock body %}